@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

h1 {
	margin-bottom: 15px;
	text-align: center;
}
h2 {
	background-color: yellow;
	color: maroon;
	position: relative;
	display: block;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 120px;
	height: 1.3em;
    float: right;
	position: relative;
	border: 1px solid black;
}
p {
	width: 90%;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetica;
	color: white;
}
.container {
	width: 100%;
	display: block;
}

.row {
	width: 100%;
	position: absolute;
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
		border: 1px solid green;
		background-color: gray;
		margin: 5px;
		border: 1px solid black;
		height: 280px;
	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 32%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 48%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 74.99%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		border: 1px solid green;
		padding: 15px;
		background-color: gray;
		margin: 5px;
		border: 1px solid black;
		height: 270px;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 32%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 48%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 74.99%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 98%;
	}
}
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		border: 1px solid green;
		padding: 15px;
		background-color: gray;
		margin: 5px;
		width: 98%;
		border: 1px solid black;
		margin-right: auto;
		margin-left: 5px;
	}
}